*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
.d-flex{
    display: flex;
}
#top{
    height: calc(100vh - 100px);
}
#bottom{
    background-color: #282828;
    height: 100px;
}
.upper-content{
    display: flex;
    height: 100%;
}
#sidebar{
    background-color: black;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content{
    background-color: #141922;
    width: calc(100vw - 50px);
    overflow-y: auto;
}
header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6 );
    width: calc(100% - 50px);
    height: 100px;
    text-align: right;
    padding: 30px 10px;
    
}
button{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff
}
main{
    padding-top: 100px;
}
.menu-content{
    background-color: black;
}
.container{
    width: 100%;
    
}
.row{
    display: flex;
    width: 100%;
}
.col{
    width: 100%;
}
.recently-played{
    flex-wrap: wrap;
}
.album{
    width: 50%;
    text-align: center; 
}
.bg-green{
    background-color: #50c878;
}
.bg-red{
    background-color: red;
}
.border-dsh{
    border: 2px dashed #fff;
}
.playlist{
    display: none;
}
#sidebar span{
    display: none;
}
.logo{
    display: none;
}
.logo-s{
    margin: 5px 0;
}
#sidebar img{
    width: 100%;
    padding: 3px 12px;
}
ul{
    list-style: none;
}
.font-grey{
    color: #707278
}
.f-wrap{
    flex-wrap: wrap;
}
.menu-content li{
    padding: 5px;
    font-weight: 900;
}
.menu-content ul{
    justify-content: center;
}
#content img,
#bottom img{
    width: 100%;
}
#bottom .col{
    width: 30%;
}
.track-on{
    height: 50px
}
@media screen and (min-width: 553px) {
    #sidebar{
        width: 200px;
    } 
}
@media screen and (min-width: 640px) {
    .album{
        width: 25%;
    }            
}
@media screen and (min-width: 879px) {
    .album{
        width: calc(100% / 6)
    }
    
}