*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: 'Inter', sans-serif;
}
.d-flex{
    display: flex;
}
#top{
    height: calc(100vh - 100px);
}
#bottom{
    background-color: #282828;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.upper-content{
    display: flex;
    height: 100%;
}
#sidebar{
    background-color: black;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content{
    background-color: #141922;
    width: calc(100vw - 50px);
    overflow-y: auto;
}
header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6 );
    width: calc(100% - 50px);
    height: 100px;
    text-align: right;
    padding: 30px 10px;
    
}
button{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff
}
main{
    padding-top: 100px;
}
.menu-content{
    margin-left: 20px;
    margin-right: 30px;
}
.container{
    width: 100%;
    margin-bottom: 30px;   
}
.row{
    display: flex;
    width: 100%;
}
.col{
    width: 100%;
}
.recently-played,
.made-for,
.famous-artist{
    margin-left: 20px;
    margin-right: 30px;
}
.album{
    margin: 5px;
    width: calc(50% - 10px);
    text-align: center; 
}
.menu-content li{
    padding: 20px 5px;
    font-weight: 900;
}
.menu-content ul{
    justify-content: center;
    padding: 0;
}
.recently-title{
    margin: 30px 20px;
}
.align-center{
    align-items: center;
}
.album h3{
    margin: 10px 0;
}
.album h4{
    margin: 5px 0;
}
.made-for-title,
.famous-title{
    margin: 15px 20px;
}
.made-for-subtitle,
.famous-subtitle{
    margin-bottom: 30px;
    margin-left: 20px;
}
#content img{
    width: 100%;
}
.margin-l-5{
    margin-left: 5px;
}
.grey-box{
    height: 33px;
    width: 33px;
    color: #000;
    background-color: #d3d3d3;
    font-size: xx-large;
    font-weight: 900;
    justify-content: center;
    align-items: flex-end;
}
.playlist li{
    margin: 15px 0;
}
.playlist ul{
    height: 30vh;
    overflow-y: auto;
}
.playlist,
.logo{
    display: none;
}
.playlist h5{
    margin: 15px 0 
}
#sidebar span{
    display: none;
    vertical-align: middle;
}
#logo-small{
    margin: 5px 0;
}
#sidebar .logo{
    height: 45px;
    margin: 25px 0;
}
#sidebar img{
    height: 30px;
    padding-left: 10px;
    margin: 5px 0;
}
.p-left-10{
    padding-left: 10px;
}
ul{
    list-style: none;
    padding: 0;
}
.font-grey{
    color: #707278
}
.grey-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightgrey;
}
.f-wrap{
    flex-wrap: wrap;
}
.left, .right{
    width: 30%;
    height: 75px;
}
.left img{
    height: 30px;
}
.d-block{
    display: block;
}
.center{
    width: 30%;
}
@media screen and (min-width: 553px) {
    #sidebar{
        width: 200px;
    }
    .playlist,
    #sidebar span,
    .logo{
        display: block;
    }
    #logo-small{
        display: none;
    }
    #content{
        width: calc(100vw - 200px);
    }
    header{
        width: calc(100% - 200px);
    }

}
@media screen and (min-width: 640px) {
    .album{
        width: calc(25% - 10px);
    }            
}
@media screen and (min-width: 879px) {
    .album{
        width: calc(100% / 6 - 10px)
    }
    
}